{% extends 'diary/home.html' %}
{% block content %}
{% load my_tags %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% if user.is_authenticated %}
            {% for el in object_list %}
            {% if user == el.author %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="my_style">
                        <img src="{{ el.image_cover | media_filter }}" style="width: 100%; height: 38vh;">
                        <div class="text-container">
                            <h4>{{ el.topic }}</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ el.place }}</p>
                        <p class="card-text">{{ el.content | truncatechars:100 }}</p>
                        <p class="card-text">{{ el.author }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-info" href="{% url 'diary:diary_detail' el.pk %}"
                                   role="button">Посмотреть</a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'diary:diary_update' el.pk %}"
                                   role="button">Редактировать</a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-danger" href="{% url 'diary:diary_delete' el.pk %}"
                                   role="button">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="container">
                <h4>Войдите или зарегистрируйтесь, чтобы иметь возможность создавать или просматривать список ваших
                    записей.</h4>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}