{% extends 'diary/home.html' %}
{% block content %}
{% load my_tags %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for el in record %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="my_style">
                        <img src="{{ el.image_cover | media_filter }}" style="width: 100%; height: 38vh;">
                        <div class="text-container">
                            <h4>{{ el.topic }}</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ el.content | truncatechars:100 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'diary:diary_detail' el.pk %}"
                                   role="button">Посмотреть</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Удалить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}